
#CuongND. Don't commit unnecessary folder and files
copy_from_server
copy_result_from_server
copy_to_server
*.new
.idea/
output/result_sample/
output/result/
C3D_sourcecode/C3D-v1.0/examples/c3d_feature_extraction/conv3d_deepnetA_sport1m_iter_1900000
c3d_files/
output/intermediate_output_vector
output/intermediate_model_snapshot/
c3d_files/pretrained_model_and_volume_mean/conv3d_deepnetA_sport1m_iter_1900000_mod
c3d_files/pretrained_model_and_volume_mean/conv3d_deepnetA_sport1m_iter_1900000_new
c3d_files/pretrained_model_and_volume_mean/conv3d_deepnetA_sport1m_iter_1900000_origin
*.solverstate
*c3d_ucf101_finetune_whole_iter*
*conv3d_deepnetA_sport1m_iter*
C3D_code/C3D-v1.0/Makefile.config
C3D_code/C3D-v1.0/data/UCF101.rar
#DATA
C3D_code/C3D-v1.0/src/caffe/proto/origin_weight_bin/
output/result_sample.tar.gz
data/Kinect_1_original_augmented_padding_100/
data/Kinect_3_original_augmented_padding_100/
data/Kinect_5_original_augmented_padding_100/
data/Kinect_1_clean_1_augmented_padding_100/
data/Kinect_1_clean_1_video/
data/Kinect_3_clean_1_video/
data/Kinect_5_clean_1_video/
data/Kinect_1_original_video/
data/Kinect_3_original_video/
data/Kinect_5_original_video/
data/K1_clean_1_aug_2/
data/K3_clean_1_aug_2/
data/K5_clean_1_aug_2/
data/K1_clean_1_aug_3/
data/K3_clean_1_aug_3/
data/K5_clean_1_aug_3/
data/K1_original_aug_3/
data/K3_original_aug_3/
data/K5_original_aug_3/
data/video_dataset/
data/K1_clean_1_not_aug_3/
data/K1_original_not_aug_3/
data/K3_clean_1_not_aug_3/
data/K3_original_not_aug_3/
data/K5_clean_1_not_aug_3/
data/K5_original_not_aug_3/
data/12gestures/K1_segmented_old/
data/12gestures/K2_segmented_old/
data/12gestures/K3_segmented_old/
data/12gestures/K4_segmented_old/
data/12gestures/K5_segmented_old/
data/12gestures_images_RGB/K1_original_pre_3/
data/12gestures_images_RGB/K2_original_pre_3/
data/12gestures_images_RGB/K3_original_pre_3/
data/12gestures_images_RGB/K4_original_pre_3/
data/12gestures_images_RGB/K5_original_pre_3/
data/12gestures_images_RGB/K1_original_pre_3_aug/
data/12gestures_images_RGB/K2_original_pre_3_aug/
data/12gestures_images_RGB/K3_original_pre_3_aug/
data/12gestures_images_RGB/K4_original_pre_3_aug/
data/12gestures_images_RGB/K5_original_pre_3_aug/
data/K1_original_pre_3/
data/K5_clean_1_pre_3/
data/K5_original_pre_3/
C3D_code/C3D-v1.0/data/UCF-101/


c3d_files/pretrained_model_and_volume_mean/conv3d_deepnetA_sport1m_iter_1900000

.idea/workspace.xml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
